* {
  box-sizing: border-box;
  }
body {
  margin: 0;
  padding: 80px;
  font-family: "Roboto" sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}
header h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;

}

.first-nav {
  position: absolute;
  right: 15px;
  top: 15px;
}
#search-field {
  width: 400px;
  height: 30px;
  border: 1px solid lightgrey;
}
.search-btn{
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid lightgrey;

}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
